body{
    margin: 0px;
}
.menu{
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.logo{
    height: 50px;
}
span{
    color: gray;
    font-size: 40px;
}
div>div{
    padding:3px;
}
div>div:hover{
    background-color: darkgray;
    cursor: pointer;
}
div:hover{
    color: white;
}
.img{
    background-image: "./logo_white.png";
}
.img:hover{
    background-image: "./logo.png";
}

