body{
    margin: 0px;
}
.menu{
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.menu:hover{
    background-color: #242222;
}
.logo{
    height: 50px;
}
span{
    color: gray;
    font-size: 40px;
}
div>div{
    padding:3px;
}
div>div:hover{
    background-color: darkgray;
    cursor: pointer;
    border-radius: 3px;
}
div:hover{
    color: white;
}
.img{
    background-image: url("./logo_white.png");
    height: 50px;
    width: 42px;
    padding: 0px;
}

